.navbar {
  &.navbar-primary {
    background: map-get($primary-palette, 400);

    .navbar-toggler {
      color: color-yiq(map-get($primary-palette, 400));
      border-color: color-yiq(map-get($primary-palette, 400));
      outline: none;
      font-weight: 300;
      padding: 0.75rem 1rem;
      margin: 0.5rem 0;
      text-transform: uppercase;
      width: 100%;
      font-size: 1rem;

      &:not(.collapsed) {
        color: color-yiq(map-get($primary-palette, 400), $black, $white);
        border-color: color-yiq(map-get($primary-palette, 400), $black, $white);
      }
    }

    .navbar-nav {
      .nav-item {
        &.active {
          .nav-link {
            color: color-yiq($primary, $black, $white);
            background: $primary;

            @include hover-focus {
              color: color-yiq($primary, $black, $white);
              background: $primary;
            }
          }
        }

        .nav-link {
          color: color-yiq($primary);

          @include hover-focus {
            color: color-yiq(map-get($primary-palette, 300), $black, $white);
            background: map-get($primary-palette, 300);
          }
        }

        &.dropdown {
          &.show,
          &:hover {
            .nav-link {
              & ~ .dropdown-menu {
                display: block;
              }

              &:after {
                border-top: 0;
                border-bottom: .3em solid;
              }
            }
          }

          .dropdown-menu {
            margin: 0;
            padding: 0;
            border: none;

            a.dropdown-item {
              padding: .5rem 1.5rem;
              background: map-get($primary-palette, 400);
              color: color-yiq(map-get($primary-palette, 400));

              &.active {
                color: color-yiq($primary, $black, $white);
                background: $primary;
              }

              @include hover-focus {
                color: color-yiq(map-get($primary-palette, 300), $black, $white);
                background: map-get($primary-palette, 300);
              }
            }
          }
        }
      }
    }

    &.navbar-expand-md {
      padding: 0;

      @include media-breakpoint-down(md) {
        padding: 0 1.5rem;
      }

      @include media-breakpoint-down(md) {
        .navbar-collapse {
          margin: 0 -1.5rem;
        }
      }

      .navbar-nav {
        @include media-breakpoint-up(md) {
          flex-wrap: wrap;
        }

        .nav-item {
          .nav-link {
            padding: 0.5rem 1.5rem;
          }

          @include media-breakpoint-down(md) {
            &.dropdown {
              .dropdown-menu {
                .dropdown-item {
                  padding: .5rem 3rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
