@import "variables";

@import "bootstrap";

@import "navbar";

@import "header";
@import "content";
@import "footer";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#wrapper {
  background: $white;

  .bg-light {
    background: $bg-light !important;
  }
}

dl {
  dd:last-of-type {
    margin-bottom: 0;
  }
}
